main{
    width: 100%;
    display: block;
}
/***** Logo  *******/
.logo{
    text-align: center;
    width: 100%;
}
/****** Search Area  *******/
.search{
    width: 90%;
    background-color: lightgrey;
    margin-left: 5%;
    text-align: center;
    display: block;
}
/***** Boxes  *****/
.box{
    background-color: #7EE5DA;   
    float: left;
    text-align: center;
    height: 80px;
    margin: 1px;
    
}

.box-1{
    margin-left: 5%;
    width: 35.6%;
    
}
.box-2 {
    background-color: #70CCC2;
    width: 18.6%;
}

.box-3 {
    background-color: #62B3AA;
    width: 35.6%;
}
/******* Footer  *******/
footer{
    text-align: center;
}
